<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen and (min-width: 0px)" href="small.css">
    <link rel="stylesheet" media="screen and (max-width: 1350px)" href="style.css">
	<script src="jquery-2.2.1.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
       <a href="/">Sair</a> 
    </header>
    <div id="tela">
       <!--campo de dialogos-->
    </div>

    <footer>
        <input type="text" id="mensagem">
        <button class="enviar" id="enviar_mensagem">Enviar</button>
        <input type="hidden" value="<%=dadosForm.usuario%> " id="usuario">
    </footer>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io('http://localhost:8000');

        socket.on('msgParaCliente',function(data){
            var html = ''
            html += '<div id="container">';
            html += '<h4>'+ data.usuario +'</h4>';
            html += '<p>' + data.mensagem +'</p>';
            html += '</div>';
            $('#tela').append(html);
            window.scrollTo(0, document.body.scrollHeight);
        });

        $('#enviar_mensagem').click(function(){
            socket.emit(
                'msgParaServidor',
                {usuario: $('#usuario').val(), mensagem: $('#mensagem').val()}
            );
            $('#mensagem').val("");
        });

    </script>
</body>
</html>